# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build / packaging
build/
dist/
wheels/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environment variables (VERY IMPORTANT)
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db